<!--The content below is only a placeholder and can be replaced.-->
<link href='https://fonts.googleapis.com/css?family=ABeeZee' rel='stylesheet'>
<div style="text-align:center">
  <h1>
    {{title}} 
  </h1>
<div>

    <button [ngClass]="{'on': lastTimeZone === 'PST'}" (click)='changeTime("PST")'>PST</button>
    <button [ngClass]="{'on': lastTimeZone === 'MST'}" (click)='changeTime("MST")'>MST</button>
    <button [ngClass]="{'on': lastTimeZone === 'CST'}" (click)='changeTime("CST")'>CST</button>
    <button [ngClass]="{'on': lastTimeZone === 'EST'}" (click)='changeTime("EST")'>EST</button>
    <button class="clear" (click)='changeTime()'>CLEAR</button>

    <br>
    <h2>{{ time | date:'medium'}}</h2>

</div>

